In [109]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import seaborn as sns
import matplotlib.pyplot as plt

# 데이터 전처리

In [141]:
PropConcat=pd.read_csv("data/prop_concat.csv", encoding='cp949')
PropConcat

        Column1  전용면적(㎡)  계약일  거래금액(만원)  층    연도   월  연수    구    index
0             0       77   11     60000  5  2015   1  27  강남구  강남구2015
1             1       77    3     65000  5  2015   3  27  강남구  강남구2015
2             2       77    7     62500  2  2015   3  27  강남구  강남구2015
3             3       77   16     68000  6  2015   8  27  강남구  강남구2015
4             4       79   29     73000  5  2015   1  28  강남구  강남구2015
...         ...      ...  ...       ... ..   ...  ..  ..  ...      ...
576530   576530       67    7     26000  2  2020   8  17  중랑구  중랑구2020
576531   576531       95   10     44000  6  2020   7  13  중랑구  중랑구2020
576532   576532      100    3     54800  5  2020  12  13  중랑구  중랑구2020
576533   576533       77   28     40000  5  2020   9  13  중랑구  중랑구2020
576534   576534       77   28     40000  5  2020   9  13  중랑구  중랑구2020

[576535 rows x 10 columns]

In [142]:
data=PropConcat.groupby(['index'], as_index=False).mean()
data

,index,Column1,전용면적(㎡),계약일,거래금액(만원),층,연도,월,연수
0,강남구2015,3666.5,84.600764,15.576902,94114.637715,8.139760,2015.0,5.947505,20.342651
1,강남구2016,123601.5,86.363865,15.865937,107208.079757,8.381030,2016.0,6.411512,20.139538
2,강남구2017,234169.5,90.000138,16.598128,127001.207955,8.554500,2017.0,6.832645,20.838701
3,강남구2018,337387.0,93.756298,15.339655,153279.926125,9.263798,2018.0,5.215681,20.067931
4,강남구2019,419539.5,91.469991,16.120682,179967.823834,9.392487,2019.0,7.887953,21.786054
...,...,...,...,...,...,...,...,...,...
145,중랑구2016,228920.0,70.471079,15.936901,32335.502938,9.068048,2016.0,6.668110,16.450046
146,중랑구2017,334042.5,71.915082,15.975602,35101.079214,9.143536,2017.0,6.458809,17.454373
147,중랑구2018,415780.5,73.942827,15.442481,39454.510742,9.197505,2018.0,5.490644,18.071033
148,중랑구2019,491126.5,69.204082,16.528912,44479.230442,9.294218,2019.0,8.300595,17.795918
149,중랑구2020,575084.0,68.145122,15.782144,50934.336436,8.780765,2020.0,6.015167,19.608756

In [143]:
data=data.drop(columns=['Column1', '연도'], axis=1)
data

,index,전용면적(㎡),계약일,거래금액(만원),층,월,연수
0,강남구2015,84.600764,15.576902,94114.637715,8.139760,5.947505,20.342651
1,강남구2016,86.363865,15.865937,107208.079757,8.381030,6.411512,20.139538
2,강남구2017,90.000138,16.598128,127001.207955,8.554500,6.832645,20.838701
3,강남구2018,93.756298,15.339655,153279.926125,9.263798,5.215681,20.067931
4,강남구2019,91.469991,16.120682,179967.823834,9.392487,7.887953,21.786054
...,...,...,...,...,...,...,...
145,중랑구2016,70.471079,15.936901,32335.502938,9.068048,6.668110,16.450046
146,중랑구2017,71.915082,15.975602,35101.079214,9.143536,6.458809,17.454373
147,중랑구2018,73.942827,15.442481,39454.510742,9.197505,5.490644,18.071033
148,중랑구2019,69.204082,16.528912,44479.230442,9.294218,8.300595,17.795918
149,중랑구2020,68.145122,15.782144,50934.336436,8.780765,6.015167,19.608756

In [144]:
seoul1=pd.read_csv("data/seoul.csv")
seoul1

,기간,자치구,인명구조,안전조치,기타활동,미처리(자체처리허위등),사망,부상,기타,화재,교통사고,수난사고,기계사고,건물사고,승강기사고,산악사고,갇힘사고,폭발사고,기타.1
0,2015,종로구,404,"3,113",337,825,5,156,519,5,59,-,5,-,214,109,55,3,230
1,2015,중구,424,"2,030",157,420,4,78,606,51,97,-,19,1,265,3,38,1,213
2,2015,용산구,576,"2,944",104,355,20,74,671,53,94,110,1,3,187,3,30,-,284
3,2015,성동구,314,"2,114",370,502,11,58,360,23,50,32,6,-,169,-,38,-,111
4,2015,광진구,620,"2,286",442,434,22,90,738,55,74,75,5,-,200,49,63,-,329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2020,관악구,750,"4,775",108,976,22,125,555,8,27,10,1,-,170,214,185,-,87
150,2020,서초구,663,"5,495",170,"1,257",11,59,444,16,24,98,1,-,181,27,77,-,90
151,2020,강남구,"1,083","8,140",280,"2,397",20,86,703,43,33,76,-,-,286,13,204,-,154
152,2020,송파구,723,"6,169",219,"1,234",16,78,532,15,32,95,8,-,225,5,151,1,94
153,2020,강동구,491,"4,079",112,943,10,53,311,11,26,34,3,-,153,5,76,-,66

In [145]:
seoul1=seoul1.astype({'기간':'str'})
seoul1=seoul1.astype({'자치구':'str'})

In [146]:
seoul1["index"]=seoul1["자치구"]+seoul1["기간"]
seoul1

,기간,자치구,인명구조,안전조치,기타활동,미처리(자체처리허위등),사망,부상,기타,화재,교통사고,수난사고,기계사고,건물사고,승강기사고,산악사고,갇힘사고,폭발사고,기타.1,index
0,2015,종로구,404,"3,113",337,825,5,156,519,5,59,-,5,-,214,109,55,3,230,종로구2015
1,2015,중구,424,"2,030",157,420,4,78,606,51,97,-,19,1,265,3,38,1,213,중구2015
2,2015,용산구,576,"2,944",104,355,20,74,671,53,94,110,1,3,187,3,30,-,284,용산구2015
3,2015,성동구,314,"2,114",370,502,11,58,360,23,50,32,6,-,169,-,38,-,111,성동구2015
4,2015,광진구,620,"2,286",442,434,22,90,738,55,74,75,5,-,200,49,63,-,329,광진구2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2020,관악구,750,"4,775",108,976,22,125,555,8,27,10,1,-,170,214,185,-,87,관악구2020
150,2020,서초구,663,"5,495",170,"1,257",11,59,444,16,24,98,1,-,181,27,77,-,90,서초구2020
151,2020,강남구,"1,083","8,140",280,"2,397",20,86,703,43,33,76,-,-,286,13,204,-,154,강남구2020
152,2020,송파구,723,"6,169",219,"1,234",16,78,532,15,32,95,8,-,225,5,151,1,94,송파구2020
153,2020,강동구,491,"4,079",112,943,10,53,311,11,26,34,3,-,153,5,76,-,66,강동구2020

In [147]:
seoul1.dtypes

기간              object
자치구             object
인명구조            object
안전조치            object
기타활동            object
미처리(자체처리허위등)    object
사망              object
부상              object
기타              object
화재              object
교통사고            object
수난사고            object
기계사고            object
건물사고            object
승강기사고           object
산악사고            object
갇힘사고            object
폭발사고            object
기타.1            object
index           object
dtype: object

In [148]:
data = pd.merge(data, seoul1)

In [150]:
data=data.drop(columns=['기간', '자치구'], axis=1)

In [151]:
data

,index,전용면적(㎡),계약일,거래금액(만원),층,월,연수,인명구조,안전조치,기타활동,...,화재,교통사고,수난사고,기계사고,건물사고,승강기사고,산악사고,갇힘사고,폭발사고,기타.1
0,강남구2015,84.600764,15.576902,94114.637715,8.139760,5.947505,20.342651,"1,151","6,361",529,...,111,187,38,12,10,485,9,119,-,543
1,강남구2016,86.363865,15.865937,107208.079757,8.381030,6.411512,20.139538,"1,257","6,424",605,...,70,92,40,20,3,401,9,350,-,222
2,강남구2017,90.000138,16.598128,127001.207955,8.554500,6.832645,20.838701,"1,428","8,356",440,...,36,169,32,8,6,580,8,337,-,268
3,강남구2018,93.756298,15.339655,153279.926125,9.263798,5.215681,20.067931,"1,154","7,659",256,...,42,53,28,6,-,467,4,268,-,167
4,강남구2019,91.469991,16.120682,179967.823834,9.392487,7.887953,21.786054,"1,125","7,649",230,...,7,29,71,1,-,434,8,226,-,174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,중랑구2016,70.471079,15.936901,32335.502938,9.068048,6.668110,16.450046,537,"3,621",214,...,128,38,-,6,2,191,39,190,-,77
146,중랑구2017,71.915082,15.975602,35101.079214,9.143536,6.458809,17.454373,569,"4,421",230,...,108,45,2,5,-,234,29,178,-,91
147,중랑구2018,73.942827,15.442481,39454.510742,9.197505,5.490644,18.071033,569,"4,097",329,...,35,36,6,5,1,163,18,152,-,80
148,중랑구2019,69.204082,16.528912,44479.230442,9.294218,8.300595,17.795918,585,"3,734",192,...,16,32,1,1,-,192,15,153,-,84
149,중랑구2020,68.145122,15.782144,50934.336436,8.780765,6.015167,19.608756,448,"4,012",141,...,10,28,2,2,-,121,29,96,-,74

In [122]:
#엑셀로 위의 값을 저장해둔 것
data.to_excel("data/prop_data.xlsx")

----

In [152]:
seoul2=pd.read_csv("data/seoul1.csv")
seoul3=pd.read_csv("data/seoul2.csv")
seoul4=pd.read_csv("data/seoul3.csv")
seoul5=pd.read_csv("data/seoul4.csv")
seoul6=pd.read_csv("data/seoul5.csv")
seoul7=pd.read_csv("data/seoul6.csv")
seoul8=pd.read_csv("data/seoul7.csv")

In [153]:
seoul2["index"]=seoul2['지역'].astype(str)+seoul2["기간"].astype(str)
seoul3["index"]=seoul3["자치구"].astype(str)+seoul3["기간"].astype(str)
seoul4["index"]=seoul4["자치구"].astype(str)+seoul4["기간"].astype(str)
seoul5["index"]=seoul5["자치구"].astype(str)+seoul5["기간"].astype(str)
seoul6["index"]=seoul6["자치구"].astype(str)+seoul6["기간"].astype(str)
seoul7["index"]=seoul7["자치구"].astype(str)+seoul7["기간"].astype(str)
seoul8["index"]=seoul8["자치구"].astype(str)+seoul8["기간"].astype(str)

In [155]:
data = pd.merge(data, seoul2, on="index", how="outer")

In [157]:
#서울시 값 제거
data=data.dropna(axis=0, how="any")

In [159]:
data = pd.merge(data, seoul3, on="index", how="outer")

In [165]:
data = pd.merge(data, seoul8, on="index", how="outer")
data

,index,전용면적(㎡),계약일,거래금액(만원),층,월,연수,인명구조,안전조치,기타활동,...,토지거래 면적,기간,자치구_y,일반단독주택,다가구주택,영업겸용주택,아파트,연립주택,다세대주택,비거주용 건물내 주택
0,강남구2015,84.600764,15.576902,94114.637715,8.139760,5.947505,20.342651,"1,151","6,361",529,...,"1,345",2015,강남구,"1,060","5,010","1,367","133,127","6,106","28,122","1,862"
1,강남구2016,86.363865,15.865937,107208.079757,8.381030,6.411512,20.139538,"1,257","6,424",605,...,"1,339",2016,강남구,"1,029","4,924","1,517","130,924","6,186","29,789","1,766"
2,강남구2017,90.000138,16.598128,127001.207955,8.554500,6.832645,20.838701,"1,428","8,356",440,...,"1,312",2017,강남구,"1,004","4,825","1,505","127,206","6,149","30,806","1,787"
3,강남구2018,93.756298,15.339655,153279.926125,9.263798,5.215681,20.067931,"1,154","7,659",256,...,"2,593",2018,강남구,976,"4,823","1,484","124,418","6,121","31,817","1,792"
4,강남구2019,91.469991,16.120682,179967.823834,9.392487,7.887953,21.786054,"1,125","7,649",230,...,906,2019,강남구,910,"4,801","1,485","122,664","5,919","32,872","1,793"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,중랑구2016,70.471079,15.936901,32335.502938,9.068048,6.668110,16.450046,537,"3,621",214,...,662,2016,중랑구,"2,373","14,943","3,114","50,343","4,850","25,272","1,492"
146,중랑구2017,71.915082,15.975602,35101.079214,9.143536,6.458809,17.454373,569,"4,421",230,...,658,2017,중랑구,"2,130","14,355","3,184","51,031","4,578","26,949","1,513"
147,중랑구2018,73.942827,15.442481,39454.510742,9.197505,5.490644,18.071033,569,"4,097",329,...,556,2018,중랑구,"1,968","13,968","3,272","51,475","4,451","29,040","1,517"
148,중랑구2019,69.204082,16.528912,44479.230442,9.294218,8.300595,17.795918,585,"3,734",192,...,542,2019,중랑구,"1,836","13,719","3,336","52,162","4,440","30,958","1,546"
149,중랑구2020,68.145122,15.782144,50934.336436,8.780765,6.015167,19.608756,448,"4,012",141,...,537,2020,중랑구,"1,787","13,464","3,309","55,499","4,466","32,303","1,536"

In [166]:
data.to_excel("data/prop_data.xlsx")

In [169]:
data.columns

Index(['index', '전용면적(㎡)', '계약일', '거래금액(만원)', '층', '월', '연수', '인명구조', '안전조치',
       '기타활동', '미처리(자체처리허위등)', '사망', '부상', '기타_x', '화재', '교통사고', '수난사고',
       '기계사고', '건물사고', '승강기사고', '산악사고', '갇힘사고', '폭발사고', '기타.1', '기간_x', '지역',
       '한국계 중국인', '미국', '캐나다', '한국계 러시아인', '우즈베키스탄', '오스트레일리아', '뉴질랜드',
       '카자흐스탄', '독일', '일본', '영국', '프랑스', '기타_y', '기간_y', '자치구_x', '개소', '좌석수',
       '도서', '비도서', '연속간행물(종)', '도서관 방문자수', '자료실 이용자수', '연간대출 책수', '공공도서관 예산',
       '기간_x', '자치구_y', '다문화가구', '내국인(출생)', '내국인(귀화)', '외국인(결혼이민자)', '외국인(기타)',
       '기간_y', '자치구_x', '합계출산율', '기간_x', '자치구_y', '녹지 개소', '녹지 면적', '기간_y',
       '자치구_x', '토지거래 필지수', '토지거래 면적', '기간', '자치구_y', '일반단독주택', '다가구주택',
       '영업겸용주택', '아파트', '연립주택', '다세대주택', '비거주용 건물내 주택'],
      dtype='object')

In [170]:
data=data.drop(columns=['기타_x','기간_y', '자치구_x','기간_x', '자치구_y'], axis=1)

In [171]:
data.columns

Index(['index', '전용면적(㎡)', '계약일', '거래금액(만원)', '층', '월', '연수', '인명구조', '안전조치',
       '기타활동', '미처리(자체처리허위등)', '사망', '부상', '화재', '교통사고', '수난사고', '기계사고',
       '건물사고', '승강기사고', '산악사고', '갇힘사고', '폭발사고', '기타.1', '지역', '한국계 중국인', '미국',
       '캐나다', '한국계 러시아인', '우즈베키스탄', '오스트레일리아', '뉴질랜드', '카자흐스탄', '독일', '일본',
       '영국', '프랑스', '기타_y', '개소', '좌석수', '도서', '비도서', '연속간행물(종)', '도서관 방문자수',
       '자료실 이용자수', '연간대출 책수', '공공도서관 예산', '다문화가구', '내국인(출생)', '내국인(귀화)',
       '외국인(결혼이민자)', '외국인(기타)', '합계출산율', '녹지 개소', '녹지 면적', '토지거래 필지수',
       '토지거래 면적', '기간', '일반단독주택', '다가구주택', '영업겸용주택', '아파트', '연립주택', '다세대주택',
       '비거주용 건물내 주택'],
      dtype='object')

In [172]:
data=data.drop(columns=['기타.1','기타_y','기간'], axis=1)

In [173]:
data

,index,전용면적(㎡),계약일,거래금액(만원),층,월,연수,인명구조,안전조치,기타활동,...,녹지 면적,토지거래 필지수,토지거래 면적,일반단독주택,다가구주택,영업겸용주택,아파트,연립주택,다세대주택,비거주용 건물내 주택
0,강남구2015,84.600764,15.576902,94114.637715,8.139760,5.947505,20.342651,"1,151","6,361",529,...,"106,678","19,783","1,345","1,060","5,010","1,367","133,127","6,106","28,122","1,862"
1,강남구2016,86.363865,15.865937,107208.079757,8.381030,6.411512,20.139538,"1,257","6,424",605,...,"108,004","18,546","1,339","1,029","4,924","1,517","130,924","6,186","29,789","1,766"
2,강남구2017,90.000138,16.598128,127001.207955,8.554500,6.832645,20.838701,"1,428","8,356",440,...,"112,228","18,058","1,312","1,004","4,825","1,505","127,206","6,149","30,806","1,787"
3,강남구2018,93.756298,15.339655,153279.926125,9.263798,5.215681,20.067931,"1,154","7,659",256,...,"113,976","20,471","2,593",976,"4,823","1,484","124,418","6,121","31,817","1,792"
4,강남구2019,91.469991,16.120682,179967.823834,9.392487,7.887953,21.786054,"1,125","7,649",230,...,"113,976","15,942",906,910,"4,801","1,485","122,664","5,919","32,872","1,793"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,중랑구2016,70.471079,15.936901,32335.502938,9.068048,6.668110,16.450046,537,"3,621",214,...,"44,244","12,249",662,"2,373","14,943","3,114","50,343","4,850","25,272","1,492"
146,중랑구2017,71.915082,15.975602,35101.079214,9.143536,6.458809,17.454373,569,"4,421",230,...,"45,520","11,452",658,"2,130","14,355","3,184","51,031","4,578","26,949","1,513"
147,중랑구2018,73.942827,15.442481,39454.510742,9.197505,5.490644,18.071033,569,"4,097",329,...,"48,154","10,825",556,"1,968","13,968","3,272","51,475","4,451","29,040","1,517"
148,중랑구2019,69.204082,16.528912,44479.230442,9.294218,8.300595,17.795918,585,"3,734",192,...,"49,820","8,708",542,"1,836","13,719","3,336","52,162","4,440","30,958","1,546"
149,중랑구2020,68.145122,15.782144,50934.336436,8.780765,6.015167,19.608756,448,"4,012",141,...,"51,330","12,393",537,"1,787","13,464","3,309","55,499","4,466","32,303","1,536"

In [174]:
#엑셀로 위의 값을 저장해둔 것
data.to_excel("data/prop_data.xlsx")

---

In [175]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import seaborn as sns
import matplotlib.pyplot as plt